\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
.vscode
coverage
default
Gemfile.lock
tmp
nbproject
pkg
*.sw?
dummy
spec/dummy
translation_dummy/log/*
translation_dummy/db/*
.rvmrc
.sass-cache
public/spree
.ruby-version
.ruby-gemset
gemfiles/*.gemfile.lock
*.gem
